html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }


h1{
  background-color: rgb(1, 37, 15);
  font-size: 50px;
  font-family: arial, "Times New Roman";
  font-weight: 100;
  text-align: center;
  text-decoration: underline;
  text-decoration: overline;
  text-transform: uppercase;
  color:#22b455;
  letter-spacing: 5px;
}
  
h2{
  background-color: rgb(16,180, 98);
  text-align: right;
  font-size: xx-large;
  font-family: arial, "Times New Roman";
  text-decoration: underline;
  color:#020204;
  letter-spacing: 5px;
}


body {
  margin: 15%;
  background-color: rgb(16,180, 98);
  line-height: 1; }

p {
  color:#020204
}

ol, ul {
  list-style: none }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

img {
  border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: #020204;
}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  font-family: Arial;
  color: #1b0e41;
  font-size: x-large;

  
}

a {
  font-weight: 500;
  font-style: italic;
  font-family: sans-serif;
  text-decoration: solid;
  text-transform: capitalize;
  color: #000000; }
  a:hover {
    color: #70186c; }

#main {
  padding:60px; }